.nav-link {
  text-decoration: none;
  color: #685a35;
  font-weight: normal;
  position: relative;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #685a35;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}
